/* Header section*/
header {
  height: 86px;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 77;
  background-color: #1e1f21;
}
.divHead {
  max-width: 980px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.copyOfLogo {
  max-width: 182px;
  max-height: 40px;
  width: 100%;
  height: 100%;
}
.navigation {
  width: 454px;
}
.navLists {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

.navList a {
  color: white;
  line-height: 26px;
  transition: 0.5s;
}

.navList a:hover {
  color: rgb(0, 163, 224);
}

/* cover section*/

.cover-section {
  background-image: url(../images/partners/cover.webp);
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 86px;
  padding: 172px 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.coverHeadline {
  max-width: 980px;
  width: 100%;
  height: 137px;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.coverHeadline h2 {
  font-size: 42px;
  color: white;
}

.coverHeadline h3 {
  font-size: 34px;
  color: white;
}

/*cover description*/

.cover-descrp {
  background-color: #2d2d30;
  padding: 56px 0;
  display: flex;
  justify-content: center;
}

.coverDescr {
  max-width: 980px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.coverDescr p {
  margin-bottom: 43px;
  font-size: 28px;
  color: white;
  line-height: 1.6em;
  letter-spacing: normal;
}

.coverDescr a {
  margin-bottom: 43px;
  font-size: 24px;
  color: rgb(0, 163, 224);
  transition: 0.5s;
}

.coverDescr a:hover {
  color: silver;
}

/*Learning Section*/

.learning-sec {
  background-color: #1e1f21;
  display: flex;
  justify-content: center;
}

.learningSec {
  max-width: 980px;
  width: 100%;
  margin-bottom: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.learning-head {
  margin: 34px 0 67px 0;
  font-size: 24px;
  color: #dbdbdb;
}

.learningSecCont {
  display: grid;
  grid-template-columns: auto auto auto;
  row-gap: 25px;
  column-gap: 37px;
}
@media (min-width: 320px) {
  .learningSecCont { grid-template-columns: repeat(1, 1fr); }
}


@media (min-width: 660px) {
  .learningSecCont { grid-template-columns: repeat(2, 1fr); }
}

/* Screen larger than 900px? 3 columns */
@media (min-width: 1000px) {
  .learningSecCont { grid-template-columns: repeat(3, 1fr); }
}

.contBox {
  width: 300px;
  height: 414px;
  overflow: hidden;
  border: 1px solid gray;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.contBox img {
  padding-bottom: 34px;
}

.contBoxDescr {
  padding: 0 22px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contBoxDescr h3 {
  font-size: 20px;
  color: #f4f4f4;
  padding-bottom: 25px;
}

.contBoxDescr h4 {
  font-size: 16px;
  color: #f4f4f4;
}

.contBoxDescr a {
  padding: 70px 0 30px 0;
  font-size: 18px;
  color: rgb(0, 163, 224);
  transition: 0.5s;
}

.contBoxDescr a:hover {
  color: white;
}

/*slider section*/

.partner-sect {
  background-color: #2d2d30;
  display: flex;
  justify-content: center;
}

.partnerSect {
  max-width: 980px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.partnerHeader{
font-size: 30px;
color: #dbdbdb;
margin: 100px 0;
}
.carousel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}


.owl-carousel .owl-nav button.owl-next
{
  position: relative;
  left: 50%;
}

.owl-carousel .owl-nav button.owl-prev
{
  position: relative;
  right: 50%;
}

.owl-carousel button.owl-dot
{
  font-size: 0.5em;
}

.partnerBox img{
  max-width: 250px;
  width: 100%;
}

/*question section*/

.question-sect {
  background-color: #1e1f21;
  display: flex;
  justify-content: center;
}

.questionSect {
  max-width: 980px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.questionSectHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 70px 0 30px 0;
}

.questionSectHeader h2 {
  font-size: 24px;
  color: #dbdbdb;
}

.questionSectHeader a {
  font-size: 20px;
  color: rgb(0, 163, 224);
  letter-spacing: normal;
  transition: 0.5s;
}

.questionSectHeader a:hover {
  color: white;
}

.accBox {
  border-bottom: 1px solid grey;
  padding-bottom: 10px;
}

.accHeader {
  padding: 2rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.accHeader h3 {
  font-size: 22px;
  color: #dbdbdb;
  cursor: pointer;
}
.accHeader::after {
  cursor: pointer;
  content: "\22C1";
  font-size: 0.7rem;
  color: #dbdbdb;
}

.accHeader.active::after {
  content: "\22C0";
  color: #dbdbdb;
}

.accContent {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.accContent p {
  padding: 1rem;
  line-height: 2;
  letter-spacing: normal;
  color: #dbdbdb;
}

/* Footer */

.footer-sect {
  background-color: #2d2d30;
  display: flex;
  justify-content: center;
}

.footerSect {
  max-width: 980px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 50px 0 50px 0;
}

.footerHead{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* .socialFooter i{
  width: 25px;
  height: 25px;
} */

.fa-brands {
  font-size: 25px;
  cursor: pointer;
  padding-left: 15px;
  color: #dbdbdb;
}

.footerMiddle {
  padding-top: 25px;
  color: #dbdbdb;
}
.footerMiddle h4 span {
  cursor: pointer;
}

.footerFoot {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 30px;
}

.footerFootHead h3{
color: #dbdbdb;
cursor: pointer;
transition: 0.4s;
}
.footerFootHead h3:hover {
  color: grey;
}
.footerFoot button {
  background-color: rgb(0, 163, 224);
  border: none;
  width: 162px;
  height: 39px;
  color: #dbdbdb;
  font-size: 20px;
  cursor: pointer;
  transition: 0.4s;
  border-radius: 6px;
}

.footerFoot button:hover{
  background-color: silver;
  color: black;
}